body {
  
}

.one {
    background-color: rgb(31,41,55);
}

.headerTitle {
    color: white;
    display: flex;
    justify-content: space-between;
}

.linkContainer {
    display: flex;
    gap: 10px;
    font-size: 10px;
}

.box1 {
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.box2 {
    color: white;
}

.mainText {
    display: flex;
}

.rightBox {
    background-color: rgb(109,116,125);
}