body {
  
}

.one {
    background-color: rgb(3, 33, 69);
}

.headerTitle {
    color: white;
    display: flex;
    justify-content: space-between;
}

.linkContainer {
    display: flex;
    gap: 10px;
    font-size: 10px;
}

.box1 {
    color: white;
}

.box2 {
    color: white;
}

.mainText {
    display: flex;
}

.rightBox {
    background-color: rgb(95, 93, 93);
}