body {
    margin: 0px;
}

.one {
    background-color: rgb(31,41,55);
    padding-left: 125px;
    padding-right: 125px;
}

.headerTitle {
    color: white;
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    margin-bottom: 60px;
}

.headerLogo {
    font-weight: bold;
}

.linkContainer {
    display: flex;
    gap: 10px;
    font-size: 13px;
}

.box1 {
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.box2 {
    color: white;
}

.mainText {
    display: flex;
    justify-content: space-around;
}

.leftBox{
    max-width: 350px;
    min-height: 145px;
}

.rightBox {
    background-color: rgb(109,116,125);
    min-width: 350px;
    min-height: 145px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.rightBoxTextBox {
    color: white;
    font-size: 13px;
}